.alert {
    margin: 20px 0;
    padding: 20px;
    background-color: var(--color-black-90);
    color: var(--color-black-05);
    border-radius: var(--border-radius);
    font-weight: 500;
}

.info {
    background-color: var(--color-yellow-80);
    color: var(--color-yellow-40);
}

.error {
    background-color: var(--color-red-70);
    color: var(--color-red-10);
}
